body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    color:seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    margin-top: 0;
    background-color: inherit;
    z-index: 999;
}

nav {
    position: absolute;
    right: 1em;
    top: -.2em;
    margin-right: 1em;
}

header p {
    display: inline-block;
    padding-left: 1em;
    text-decoration: underline;
}

.header-logo {
    float: left;
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
}

.header-logo img {
    height: 50px;
}

.main-content {
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
    z-index: 5;
}

.mission-statement-background {
    max-width: 1200px;
    height: 700px;
    background-image: url(../media/img-mission-background.jpg);
    background-size: cover;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mission-statement-text{
    background-color: black;
    padding: 0 1em;
}

.totm-content {
    max-width: 1000px;
    margin: 50px auto;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    align-content:center;
    justify-content: center;
}

.gallery-item {
    width: 300px;
    margin-right: 15px;
    margin-left: 15px;
}

.gallery-item img {
    height: 200px;
    width: 300px;
    margin: 0;
}

.gallery-item h4 {
    margin-top: 10px;
}

@media screen and (max-width: 576px) {
    .header-logo {
        display: none;
    }
}